.global_wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.global_top {
    flex-grow: 1;

}

.global_bottom {
    margin: 0 auto;
    width: 100%;
}



@media (min-width:1000px) {
    .container {
        margin: 0 auto;
        max-width: 1140px;
    }
    .nav_box {
        padding-top: 34px; 
    } 
}

@media (max-width:769px) {
    .wrap_box_index {
        width: 100%;
        height: 768px;
    }

    .top_info {
        padding-top: 120px;
    }

    .container {
        padding: 0px 32px 0px 32px;
    }
    .nav_box {
        padding-top: 28px; 
    }

}

@media (max-width:500px) {
    .wrap_box_index {
        width: 100%;
        height: 376px;
    }

    .container_bg_img {}

    .top_info {
        background-image: none;
        padding-top: 34px;
    }

    .container {
        padding: 0px 16px 0px 16px;
    }
    .nav_box {
        padding-top: 16px; 
    }

    .hello_box h1 {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        max-width: 300px;
    }

    .hello_box p {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        max-width: 300px;
    }

}