@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.color_set {
    color: #1F3F68;
}

.paragraf {
    font-size: 16px;
    line-height: 26px;
}


.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    
}

.heading_h3 {
font-family: 'Roboto';
font-weight: 300;
font-size: 36px;
line-height: 46px;
text-align: center;
letter-spacing: 0.05em;
color: #000000;
}





.wrap_box {
padding: 0px;
margin: 0px;
}
.wrap_box_index {
height: 768px;
background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.container {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 376px;

}
.container_bg_img {
    display: flex;
    flex-direction: column;
    height: 100%;
}






.nav_box {
    margin-top: 34px; 
}
.nav_box ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;  
}
.nav_box a {text-decoration: none;}





.hello_box {
display: flex;
flex-direction: column;
height: 100%;

}
.top_info {
flex-grow: 1;
margin-top: 115px;
background-image:url(img/illustration.svg);
background-repeat: no-repeat;
background-position: right;
}
.hello_box h1 {
width: 510px;
font-family: 'Roboto';
font-weight: 300;
font-size: 64px;
line-height: 74px;
letter-spacing: 0.04em;
color: #1F3F68;

}
.hello_box p {
width: 425px;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6;
margin-top: 32px;
}
.hello_box_button {
width: 220px;
height: 56px;
background: #5A98D0;
box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.04em;
margin-top: 71px;
}
.hello_box_button:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.hello_box a {
text-decoration: none;
max-width: 220px;
}




.what_we_do_h3 {
    padding: 64px 0px;
}
.product_box {
display: flex;
justify-content: space-between;
}
.product_card {
    display: flex;
    flex-direction: column;
flex-basis: 359px;
height: 480px;
box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
border-radius: 10px;
box-sizing: border-box;
}
.product_card:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.product_card img {
   padding: 32px 0px 45px 0px;
   align-self: center;
   
}
.product_card h4 {
    text-transform: capitalize;
font-family: 'Roboto';
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.05em;
color: #1F3F68;
padding-left: 32px;
padding-right: 32px;
}
.product_card p {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #1F3F68;
opacity: 0.6;
padding-left: 32px;
padding-right: 32px;
padding-top: 15px;
padding-bottom: 28px;
}
.product_card a {
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0.05em;
color: #5A98D0;
margin-left: 32px;
width: max-content;
}
.product_card a:hover {
    color: red;
}













.footer_hello_text {
margin: 0 auto;
width: 65%;
padding-top: 64px;
display: flex;
flex-direction: column;
justify-content: center;
box-sizing: border-box;
padding-bottom: 64px;
}
.footer_hello_text h3 {
text-transform: capitalize;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 46px;
text-align: center;
letter-spacing: 0.05em;
color: #000000; 
padding-bottom: 32px;
}
.footer_hello_text p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #222222;
text-align: center;
}
.project_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;
}
.project_item {
    position: relative;
    flex-grow: 1;
}
.project_parent div:first-child {
    margin-right: 32px;
}
.project_text {
font-family: 'Roboto';
font-weight: 400;
font-size: 32px;
line-height: 46px;
letter-spacing: 0.05em;
color: #FFFFFF;
position: absolute;
}
.text_smart_home {
    top: 64px;
    right: 64px;
}
.text_app {
    top: 32px;
    left: 32px;
}









.wrap_footer {
    background: #316099;
    position: relative;
}
.wrap_footer hr {
opacity: 0.4;
border: 1px solid #FFFFFF;
}

.footer_box {
}
.footer_box_card {
width: 495px;
}
.footer_box_card h3 {
width: 340px;
font-family: 'Roboto';
font-weight: 400;
font-size: 36px;
line-height: 46px;
letter-spacing: 0.05em;
color: #FFFFFF;
padding-bottom: 32px;
padding-top: 91px;
}
.footer_box_card p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
opacity: 0.6;
padding-bottom: 96px;
}


.footer_box_contact {
background: blue;
    box-sizing: border-box;
}
.footer_box_contact ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.footer_box_contact a {
    text-decoration: none;
    color: #fff;
}












.contact_box_card {
    display: flex;
    flex-wrap: wrap;
    background: rgb(168, 94, 94);
}
.contact_box_card_item {
    box-sizing: border-box;
    background: rgb(79, 79, 88);
    flex-grow: 1;
    margin: 5px;
}
.contact_box_card_item ul {
    list-style: none;
}
.contact_box_card_item img {
    max-width: 350px;    
}




.form_input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.form_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.yandex-map{
    padding: 0px;

}


