* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.color_set {
    color: #1F3F68;
}

.paragraf {
    font-size: 16px;
    line-height: 26px;
}

.heading_h1 {
    font-size: 64px;
}

.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.heading_h3 {
    font-size: 36px;
    text-align: center;
}



.wrap_box {
    width: 100%;
    border: 5px solid purple;

}

.container {
    margin: 0 auto;
    width: 1140px;
    background: rgb(167, 139, 193);
}

.nav_box {
    margin: 0 auto;
    background: green;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav_box ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.nav_box a {text-decoration: none;}


.hello_box {
    width: 50%;
    box-sizing: border-box;
    margin-top: 50px;
    border: 5px solid aqua;
    padding: 20px;
    margin-bottom: 10px;

}



.product_box {
border: 5px solid green;
margin: 10px;
}

.product_card {
background: rgb(232, 18, 175);
width: 359px;
margin: 10px;
}



.footer_hello_text {
    border: 5px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;

}
.footer_hello_text h3 {
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}
.footer_hello_text p {
    text-align: center;
}


.footer_box {
    border: 5px solid yellowgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.footer_box_card {
    width: 33%;
    border: 5px solid pink;
    margin: 20px;
    padding: 20px;
}
.wrap_box hr {
    border: 5px solid black;
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer_box_contact {
    margin: 0 auto;
    border: 5px solid blue;
    padding: 20px;
    box-sizing: border-box;
}
.footer_box_contact ul {
    list-style: none;
}




.contact_box_card {
   box-sizing: border-box;
   display: inline-block;
}
.contact_box_card ul {
    list-style: none;
}
.form_input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.form_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.yandex-map{
    padding: 20px;

}


