* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.color_set {
    color: #1F3F68;
}

.paragraf {
    font-size: 16px;
    line-height: 26px;
}


.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.heading_h3 {
    font-size: 36px;
    text-align: center;
}





.wrap_box {
padding: 0px;
margin: 0px;
background: purple;

}

.container {
    margin: 0 auto;
    max-width: 1140px;
    background: rgb(167, 139, 193);
    box-sizing: border-box;
}



.nav_box {
    margin: 0 auto;
    background: green; 
    margin-top: 34px;   
}

.nav_box ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav_box a {text-decoration: none;}








.hello_box {
background: aqua;
}
.hello_box h1 {
    font-size: 64px;
    width: 510px;
}
.hello_box p {
    width: 425px;
}







.product_box {
background: green;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.product_card {
background: rgb(232, 18, 175);
width: 359px;
flex-basis: 359px;
}

.product_card h4 {
    text-transform: capitalize;
}



.footer_hello_text {
background: rgb(226, 147, 147);
    box-sizing: border-box;

}
.footer_hello_text h3 {
    text-transform: capitalize;
    text-align: center;
 
}
.footer_hello_text p {
    text-align: center;
}


.footer_box {

    box-sizing: border-box;
}
.footer_box_card {
       background: pink;
       box-sizing: border-box;
       width: 495px;
}
.footer_box_card h3 {
    width: 340px;
}
.wrap_box hr {

    margin-top: 15px;
    margin-bottom: 15px;
}
.footer_box_contact {
background: blue;
    box-sizing: border-box;
}
.footer_box_contact ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.footer_box_contact a {
    text-decoration: none;
    color: #fff;
}



.contact_box_card {
    display: flex;
    flex-wrap: wrap;
    background: rgb(168, 94, 94);
}
.contact_box_card_item {
    box-sizing: border-box;
    background: rgb(79, 79, 88);
    flex-grow: 1;
    margin: 5px;
}
.contact_box_card_item ul {
    list-style: none;
}
.contact_box_card_item img {
    max-width: 350px;    
}




.form_input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.form_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.yandex-map{
    padding: 0px;

}


